[mariadbd]
basedir = "@RUNTIME_ROOT@"
datadir = "@DATA_ROOT@"
plugin-dir = "@RUNTIME_ROOT@/lib/plugin"
lc-messages-dir = "@RUNTIME_ROOT@/share/mysql"
bind-address = 127.0.0.1
port = @MARIADB_PORT@
socket = "@MARIADB_SOCKET@"
pid-file = "@MARIADB_PID@"
log-error = "@MARIADB_LOG@"
skip-name-resolve
@MARIADB_PLATFORM_OPTIONS@

[client]
host = 127.0.0.1
port = @MARIADB_PORT@
socket = "@MARIADB_SOCKET@"
