<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.fabdev.system-helper</string>
  <key>fabDevManaged</key>
  <string>community</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/PrivilegedHelperTools/com.fabdev.system-helper</string>
    <string>--community</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>UserName</key>
  <string>root</string>
  <key>GroupName</key>
  <string>wheel</string>
  <key>StandardOutPath</key>
  <string>/var/log/fabdev-system-helper.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/fabdev-system-helper.log</string>
</dict>
</plist>
